.pagination-btn {
    width: 30px;
    height: 30px;
    background: #E8F1FD;
    border-radius: 6px;
    text-align: center;
}

.pagination-btn:hover {
    cursor: pointer;
}

mat-icon:hover{
    cursor: pointer;
}

.current-page {
    width: 30px;
    height: 28px;
    font-weight: 400;
    background: #3f51b5;
    color: white;
    border-radius: 6px;
    text-align: center;
}

.arrow-icons {
    margin-top: 3px;
}

.pagination-scroll {
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}