.table-width {
    width: 80%;
    padding: 20px;
}

.custom-input {
    padding: 10px 10px 10px 35px !important; 
    margin-bottom: 10px;
    width:300px
}

.icon {
    color:#C4C4C4;position: absolute;
    padding: 6px;
}